*{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Modo Claro */
body.light-mode {
background-color: #dddddd;
color: #000000;
}

/* Modo Escuro */
body.dark-mode {
background-color: #333;
color: #000000;
}
header {
    background-color: rgb(11, 87, 11);
    padding: 18px;
    color: white;
}
span{
    cursor: pointer;
    display: block;
    text-align: right;
    margin-top: 15px;
}
.modo-container {
    position: absolute;
    top: 10px; /* Ajuste a posição vertical conforme necessário */
    right: 10px; /* Ajuste a posição horizontal conforme necessário */
}
.convertor{
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-style: bold;
}
main{
    padding: 20px;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h2{
    text-align: center;
    padding: 15px;
}
h3{
    padding: 15px;
}
li{
    padding: 5px;
}
p{
    padding-top: 10px;
    margin-left: 45px;
}
.titu{
    text-align: center;
}
.link{
    padding: 10px;
    height: 20px;
    width: 555px;
    border: 2px solid rgb(65, 158, 65);
    border-radius: 5px;
}
.divlink{
    text-align: center;
    padding: 20px;
}
.btn-ver{
    margin: 10px;
    height: 50px;
    width: 555px;
    background-color: rgb(0, 165, 165);
    color: white;
    cursor: pointer;
}
.btn-ver:hover{
    background-color: rgb(2, 202, 202);
}
.botao{
    background-color: rgb(65, 158, 65);
    color: white;
    width: 80px;
    height: 44px;
    border: 2px solid green;
    border-radius: 5px
}
.botao:hover{
    background-color: rgb(79, 192, 79);
    cursor: pointer;
}
.nave{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
a:hover{
    color: rgb(79, 192, 79);
}
.titulo{
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-style: bold;
}
.input-image {
    margin-right: 10px;
}